body {
    background-color: darkturquoise;
    font-family:Arial;
}


.intro-text {
    border-radius: 20px;
    box-shadow: 2.5px 2.5px 1px grey;
    text-align: center;
    background-color: white;
    position: relative;
    top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    margin-bottom: 130px;
}

.out {
    background-color: teal;
    text-align: center;
    position:fixed;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0px;
}

th {
    width: 25%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
