body {
    background-color: darkturquoise;
    font-family:Arial;
}


.intro-text {
    border-radius: 20px;
    box-shadow: 2.5px 5px 2.5px grey;
    text-align: center;
    background-color: white;
    position: relative;
    top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    margin-bottom: 90px;
}

.out {
    box-shadow: 0px -1px 5px grey;
    background-color: teal;
    text-align: center;
    position:fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
}

th {
    font-weight: normal;
    margin: 0;
    width: 25%;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th:hover {
    background-color: darkcyan;
}
